html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

html {
  cursor: url(../img/mata_mosquito.png) 30 30, auto;
}

body {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
}

.mosquito1 {
  width: 3.125rem;
  height: 3.125rem;
}

.mosquito2 {
  width: 4.375rem;
  height: 4.375rem;
}

.mosquito3 {
  width: 5.625rem;
  height: 5.625rem;
}

.ladoA {
  transform: scaleX(1);
}

.ladoB {
  transform: scaleX(-1);
}

.painel {
  display: inline-flex;
  flex-direction: column;
  justify-content: left;
  width: 12.5rem;
  position: absolute;
  padding: 0.625rem;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
}

.cronometro {
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .img {
    width: 90%;
  }
}
